<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>

    </h:head>
    <h:body>
        <div class="card">
            <h:form>  
                <p:growl id="messages"/>
                <p:menubar>
                    <p:submenu label="Store" icon="pi pi-file">
                        <p:submenu label="New" icon="pi pi-briefcase">
                            <p:menuitem value="Project" url="#"/>
                            <p:menuitem value="Other" url="#"/>
                        </p:submenu>
                        <p:menuitem value="Open" url="#"/>

                        <p:menuitem value="Quit" url="#"/>
                    </p:submenu>

                    <p:submenu label="Home" icon="pi pi-pencil">
                        <p:menuitem value="Undo" url="#" icon="pi pi-angle-double-left"/>
                        <p:menuitem value="Redo" url="#" icon="pi pi-angle-double-right"/>
                    </p:submenu>



                    <p:submenu label="Ofertas del dia" icon="pi pi-cog">
                        <p:submenu label="Ajax" icon="pi pi-refresh">
                            <p:menuitem value="Save" action="#{menuView.save}" icon="pi pi-save" update="messages"/>
                            <p:menuitem value="Update" action="#{menuView.update}" icon="pi pi-refresh"
                                        update="messages"/>
                        </p:submenu>
                        <p:submenu label="Non-Ajax" icon="pi pi-clone">
                            <p:menuitem value="Delete" action="#{menuView.delete}" icon="pi pi-times" update="messages"
                                        ajax="false"/>
                        </p:submenu>
                    </p:submenu>

                    <p:menuitem value="Quit" url="http://www.primefaces.org" icon="pi pi-times"/>
                    
                    <p:submenu label="Carrito" icon="fa fa-cart-plus">
                    </p:submenu>
                    
                    


                    <f:facet name="options">
                        <p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search"/>
                        <p:commandButton type="button" value="Logout" icon="pi pi-home"/>
                    </f:facet>
                </p:menubar>
            </h:form>
        </div>


        <div class="container mt-2">
            <div class="row">
                <c:forEach var="items" items="${cursoBean.ltsCurso}">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h1>${items.nombres}</h1>
                            </div>
                            <div class="card-body">
                                <i>$.${items.precio}</i>
                                <td><img src="ControlerIMG?id=${items.idCurso}" width="200" height="180"/></td>
                            </div>
                            <div class="card-footer text-center">
                                <label>${items.descripcion}</label>
                                <div>
                                    <a href="" class="btn btn-outline-info">Agregar a Carrito</a>
                                    <a href="" class=" btn btn-danger">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </c:forEach>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
            </div>
        </div>

    </h:body>
</html>

